*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: rgba(0, 0, 0, 0.786);
    color: white;


}
.card-content{
    display: flex;
    padding: 50px;
    gap: 10px;
}
.card{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.786);
    color: white;
    
}
.card h3{
    display: inline-block;
    height: 50px;
    margin: 5px;
}

.card p{
    margin: 15px 0;
}

button{
    background-color: rgb(1, 255, 149);
    padding: 5px;

}
.modal-contenedor{
    position: absolute;
    background-color: #000;
    color: white;
    width: 600px;
    height: auto;
    top:10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

}
.header-modal-title{
    font-size: 35px;
}
.header-modal{
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 255, 149);
    color: #000;
}
.modal-content{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.modal-content h3{
    font-size: 18px;

}
.modal-contenedor img{
    width: 100px;
    
}
.total-content{
    background-color: #000;
    font-size: 30px;
    margin: 0;

}




.delete-release{
    cursor: pointer;
}

#burger{
    color: white;
}

@media (max-width: 768px){
    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .header-modal-title{
        font-size: 25px;
    }
    .modal-contenedor{
        top:20%;
        left: 20%;
        width: 300px;
    }
    .modal-content h3{
        font-size: 13px;
        margin: 2px 2px;
    
    }
    .modal-contenedor img{
        width: 70px;
        
    }
    .total-content{
        background-color: #000;
        font-size: 20px;
        margin: 0;
    
    }

}