*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
.logo{
    width: 1.5em;
    margin-right: 1em ;
}



.contenedor{
    color: rgb(255, 255, 255);
    background-color:rgb(56, 56, 59);;


}

.ver-bag{
    cursor: pointer;
}
.cart{
    color: #fff;
}

.up-header{
    width: 100%;
    background-color: #262626;
}
header{
    height: 50vh;
    width: 100%;
    background-color: #262626;
    display: flex;
}

.principal{
    width: 80%;
    display: flex;
    margin: 2em auto;
   
    gap: 2em;
}
.artist-name{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.artist-info{
    
    font-size: 0.9em;
    color: #fff;
    padding: 1em;
    text-align: justify;
}
.principal img{
    width: 10em;

}


section{
    text-align: center;
    background-color: rgb(56, 56, 59);
}

.card-content{
    display: flex;
    padding: 50px;
    gap: 10px;
}
.card{
    width: 10em;
    color: rgb(255, 255, 255);
    background-color:#262626;
    border: none;
    overflow: hidden;
    
    
}
.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
    transition: 0.2s;

}
.card h3{
    display: inline-block;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 5px;
    text-align: center;
}

.card p{
    font-size: 17px;
    font-weight: 600 ;
    color: #5cacec ;
    margin: 15px 0;
    text-align: center;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(56, 56, 59);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
button:hover{
    background-color: #5cacec ;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    
}

.pre-footer{
    background-color: rgb(33, 37, 41);
}

.brand{
    height: 4em;
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand img{
    width: 2em;
    height: 2em;
    margin-right: 1em;
}
.copy{
    color: rgb(140, 140, 140);
    margin: 0;
    padding-bottom: 1em;

}

footer{
    background-color: rgb(56, 56, 59);
}


.container-total{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
}
.modal-contenedor{
    position: absolute;
    background-color: #000;
    color: white;
    width: 600px;
    height: auto;
    top:15%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    z-index: 99;

}
.header-modal-title{
    font-size: 35px;
}
.header-modal{
    display: flex;
    justify-content: space-around;
    background-color: #5cacec ;
    color: #000;
    width: 100%;
}
.modal-header-button{
    cursor: pointer;
}
.modal-content{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.modal-content h3{
    font-size: 18px;

}
.modal-content p{
    font-size: 18px;

}
.modal-contenedor img{
    width: 100px;
    
}


.total-content{
    color: #fff;
    border: solid 20px #000 ;
    font-size: 30px;
    margin: 0;
    width: 100%;
    text-align: center;

}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2838, 240, 200, 0.40%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
    
}
#buttonNav:hover{
    background-color: #fff;
    color: #000;
}

.delete-release{
    cursor: pointer;
}





@media (max-width: 1000px){
    header{
        height: 100%;
        flex-direction: column-reverse;
    }
    .principal{
        gap: 1em;
        
    }
    .artist-info{
        display: block;
        width: 100%;
        margin-top: 1em;
    }
    .vertical-nav{
        text-align: center;
       
    }

    
    
    
    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card{
        width: 80%;
        margin: 1em auto;
    }
    .header-modal-title{
        font-size: 25px;
    }
    .modal-contenedor{
        top:20%;
        left: 20%;
        width: 300px;
        height: auto;
    }
    .modal-content h3{
        font-size: 13px;
        margin: 2px 2px;
    
    }
    .modal-contenedor img{
        width: 70px;
        
    }
    .modal-content p{
        font-size: 10px;
        margin: auto;
    
    }
    .total-content{
        background-color: #000;
        font-size: 20px;
        margin: 0;
    
    }

}
@media (max-width: 640px){
    .principal{
        display: flex;
        flex-direction: column;
    }
    .new{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .principal img{
        width: 100%;
    }
    .vertical-nav{
        text-align: center;
    }
    .vertical-nav ul{
        padding-left: 0;
    }
    .vertical-nav ul li{
        padding: 1em;
        gap: 2em;
        margin-left: 0;
    }
    .vertical-nav ul svg{
    
       
        margin-right: 1em;
    }
}